VITE_SUPABASE_PROJECT_ID="your-project-id"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_your-key"
VITE_SUPABASE_URL="https://your-project-id.supabase.co"

VITE_VAPID_PUBLIC_KEY="BCwM6omhrHEB-FbaML4IoPk89UmbNTSFoRufh2e4_JxPwHBwNzRj1Rk-c_FkjC5iz6hfv5VZzIVLrMTWpo7BgUs"
